<section class="section bestsellers-sections">
  <div class="container bestsellers">
    <h2 class="bestsellers-title">Наші бестселлери</h2>
    <ul class="bestsellers-list"></ul>
    <div class="loader bestsellers-loader">
        <div class="cup">
            <div class="cup-handle"></div>
            <div class="smoke one"></div>
            <div class="smoke two"></div>
            <div class="smoke three"></div>
        </div>
        <div class="load">..........................</div>
    </div>
    <div class="bestsellers-nav-btn">
        <button class="page-left-btn" type="button"><svg class="bestsellers-button-cvg" width="16" height="16" aria-hidden="true"><use href="/img/sprite.svg#icon-arrow_back"></use></svg></button>
        <button class="page-right-btn" type="button"><svg class="bestsellers-button-cvg" width="16" height="16" aria-hidden="true"><use href="/img/sprite.svg#icon-arrow_forward"></use></svg></button>
    </div>
</section>
