.hero-section {
  background-color: black;
  background-image: url('../img/hero/mobile1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 155px;
  padding-bottom: 155px;
}

.main-title {
  max-width: 335px;
  margin: 0 auto 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-white);
}

.main-description {
  max-width: 320px;
  margin: 0 auto 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
}

.main-title-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 44px;
  margin: 0 auto;
  padding: 10px 24px;
  border: 1px solid var(--color-wewak);
  border-radius: 100px;
  background-color: var(--color-wewak);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  transition: background-color 250ms linear;
}

.main-title-link:active {
  background-color: var(--color-wewak-dark);
}

/* mobile retina */
@media screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/hero/mobile2x.png');
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url('../img/hero/tablet1x.png');

    padding-top: 325px;
    padding-bottom: 325px;
  }

  .main-title {
    max-width: 704px;
    font-size: 40px;
  }

  .main-description {
    max-width: 704px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/hero/tablet2x.png');
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url('../img/hero/desktop1x.png');
    padding-top: 306px;
    padding-bottom: 306px;
  }

  .main-title {
    max-width: 768px;
    font-size: 56px;
  }

  .main-description {
    max-width: 731px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url('../img/hero/desktop2x.png');
  }
}
